@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    padding-top: 100px;
}

h1 {
    color: #fff;
    font-size: 5rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 3%;
}

p {
    font: size 1.5em;
    line-height: 1.5;
}


.navbar {
    width: 100%;
    background: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #34db6e;
}

.space_between {
    justify-content: space-between;
}

.langue{
    display: flex;
   
    align-items: center;
}


.slider img {
    width: 100%;
    min-height: 60vh;
    aspect-ratio: 16/5.6;
}

.slider-backgroud {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-content {
    position: absolute;
    top: 10%;
    left: 50%;
    bottom: 50%;;
    transform: translate(-50%, 50%);
    text-align: center;
}


.section {
    padding: 100px;
}

.bg-white {
    background: #fff;
    text-align: center;
}

.bg-image {
    background: url('../img/backgreen1.png') center/cover no-repeat;
}


.boxed {
    max-width: 1280px;
    margin-inline: auto;
}


.flex {
    display: flex;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
    text-align: left;
}

.w100 {
    width: 100%;
}

.w32 {
    width: 32%;
}
.w25 {
    width: 25%;
}

.icon {
    display: block;
    font-size: 40px !important;
}

.label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0;
    font: size 1.5em;
}

.value {
    display: block;
    font-size: 1.3rem;
}


.contact {
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    margin-right: 2%;
}
.competences {
   background: #ffffff;
   border-radius: 15px;
   padding: 20px;
   box-sizing: border-box;
}

.competences img  {
    width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.column{
    flex-direction: column;
}

.gap20{
    gap: 20px;
}

.wm100{
    width: 100%;
}

.niveau{

 text-align: center;
 padding-right: 20%;
}